@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1 {
    font-family: 'Alkatra', cursive;
    padding: 5px 50px;
    background-color: #765933;
    color: #ffffff;
}

h2 {
    font-family: 'Alkatra', cursive;
    margin-left: 25px;
    padding: 5px 50px;
    background-color: #c3a277;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #bbffbb;
}

a:visited {
    color: #bbffbb
}

nav a {
    transition: 1s;
    padding: 12px;
}

nav a:hover {
    background-color: #c3a277;
    border-bottom: 5px solid white;
}

nav {
    background-color: #765933;
    padding: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 66px 0px;
    min-height: 100vh;
    margin: 0px;
    position: relative;
    background: linear-gradient(#ffe1bb, #ffcb88)
}

main {
    padding: 16px;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#instruction-grid {
    display: grid;
    grid-template-columns: 275px 1fr;
}

#ingredients {
    grid-column-start: 2;
}

#instructions {
    grid-column-start: 2;
    grid-row-start: 2;
}

table {
    margin-left: 45px;
}

table * {
    padding: 5px;
}

th {
    background-color: #c3a277;
}

tr:nth-child(even) {
    background-color: #fff0dc;
}

tr:nth-child(odd) {
    background-color: #ffe4c0;
}

td:nth-child(2) {
    text-align: right;
}

ol {
    margin-left: 45px;
    padding: 10px 25px;
    width: 500px;
    background-color: #fff0dc;
}

footer {
    background-color: #765933;
    color: #ffffff;
    width: 100%;
    padding: 24px 15px;
    position: absolute;
    bottom: 0px;
}

img {
    height: 200px;
    margin: 5px;
    border: 5px solid white;
}

#recipe-detail {
    text-align: center;
    width: 250px;
    padding: 15px;
    margin: 25px;
    background-color: #fff0dc;
}

.recipe {
    text-align: center;
    width: 250px;
    padding: 15px;
    margin: 25px;
    background-color: #fff0dc;
    transition: 1s;
}

.recipe:hover {
    background-color: #765933;
}

.rating {
    margin: 0px auto;
    width: 200px;
    padding: 5px;
    background-color: #c3a277;
    color: white;
    font-weight: bold;
}

h3 {
    margin: 0px auto;
    width: 200px;
    height: 35px;
    padding: 5px;
    background-color: #c3a277;
    color: white;
    transition: 1s;
}

h3:hover {
    font-size: 20px;
}
